In [2]:
import pandas as pd

In [4]:
first_data_set = pd.read_csv("https://data.cityofchicago.org/api/views/9hwr-2zxp/rows.csv?accessType=DOWNLOAD&bom=true&format=true")

In [5]:
first_data_set.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,2.398050e+05,239805.000000,239805.000000,239795.000000,239778.000000,2.348860e+05,2.348860e+05,239805.0,234886.000000,234886.000000
mean,1.273235e+07,1154.093935,11.311203,23.383632,36.264098,1.165381e+06,1.887039e+06,2022.0,41.845614,-87.668600
std,7.100146e+05,707.902967,7.075467,14.208994,21.550160,1.679409e+04,3.229523e+04,0.0,0.088832,0.061011
min,2.654300e+04,111.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,2022.0,36.619446,-91.686566
25%,1.267812e+07,533.000000,5.000000,9.000000,22.000000,1.153948e+06,1.859284e+06,2022.0,41.769168,-87.710155
50%,1.276910e+07,1033.000000,10.000000,24.000000,32.000000,1.167255e+06,1.893383e+06,2022.0,41.863073,-87.661467
75%,1.285732e+07,1731.000000,17.000000,35.000000,53.000000,1.176856e+06,1.910066e+06,2022.0,41.909023,-87.626402
max,1.384535e+07,2535.000000,31.000000,50.000000,77.000000,1.205119e+06,1.951493e+06,2022.0,42.022548,-87.524532